.error {
    color: yellow;
    background-color: red;
}

.info {
    background-color: green;
}

.scrollable {
    overflow-y: scroll;
}

.body-table-container {
    max-height: 600px;
}

table thead>tr>th{
    width: 25%;
}

table tbody>tr>td{
    width: 25%;
}