{% extends "layout.html" %}

{% block title %}
    Accounts
{% endblock %}

{% block main %}
    <h1>Accounts</h1>
    <table>
        <thead>
            <tr>
                <th>Account</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tfoot>
            <td>Total</td>
            <td>{{ total_accounts }}</td>
        </tfoot>
        <tbody>
            {% for acc in user_accounts_list %}
                {% if acc['account_hide'] == 0 %}
                <tr>
                    <td>
                        <a href="/account/{{ acc['account_name'] }}">
                        {{ acc["account_name"] }}
                        </a>
                    </td>
                    <td>{{ acc["balance"] }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
