{% extends "layout.html" %}

{% block title %}
    {{ account_name }}
{% endblock %}

{% block main %}

    <form action="/edit_account/{{ account_name }}" method="GET">
        <div class="form-row mt-2 mb-2">
            <div class="col">
                <h3 class="text-success text-center">Account: <span class="font-weight-bolder">{{ account_name }}</span></h3>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-success">Edit account</button>
            </div>
        </div>
    </form>
    <div class="w-100 border border-success mb-4">
        <div class="scrollable">
            <table class="table table-hover table-sm table-bordered">
                <thead>
                    <tr class="table-success">
                        <th>Date</th>
                        <th>Payee</th>
                        <th>Category</th>
                        <th>Amount</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="body-table-container scrollable">
            <table class="table table-hover table-sm table-bordered">
                <tbody>
                    {% for tran in trans_list_dict %}
                    <tr>
                        <td>
                            <a href="/transaction/{{ tran['transaction_id'] }}">
                                {{ tran["date"] }}
                            </a>
                        </td>
                        <td>{{ tran["payee_name"] }}</td>
                        <td>{{ tran["category_name"] }}</td>
                        <td>{{ tran["amount"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="scrollable">
            <table class="table table-hover table-sm">
                <thead>
                    <tr class="table-success">
                        <th></th>
                        <th></th>
                        <th>Ending balance</th>
                        <th>{{ total }}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <form action="/add_transaction" method="POST">
        <div class="form-row">
            <div class="form-group col">
                <input name="date" type="date" class="form-control" value="{{ today }}" min="2000-01-01">
                <label for="date">Date</label>
            </div>
            <div class="form-group col">
                <select name="transaction_type" autofocus type="number" class="form-control">
                    <option value="-1" selected>Withdrawal</option>
                    <option value="1">Deposit</option>
                </select>
                <label for="transaction_type">Transaction type</label>
            </div>
            <div class="form-group col">
                <select name="payee" type="text" class="form-control">
                    <option value="" disabled selected>Payee</option>
                    {% for dict in payee_list_dict %}
                        <option value="{{ dict['payee_name'] }}">
                            {{ dict['payee_name'] }}
                        </option>
                    {% endfor %}
                </select>
                <label for="payee">Payee</label>
            </div>
            <div class="form-group col">
                <select name="category" type="text" class="form-control">
                    <option value="" disabled selected>Category</option>
                    {% for dict in category_list_dict %}
                        <option value="{{ dict['category_name'] }}">
                            {{ dict['category_name'] }}
                        </option>
                    {% endfor %}
                </select>
                <label for="category">Category</label>
            </div>
            <div class="form-group col">
                <input autocomplete="off" placeholder="0,00 or 0.00" name="amount" type="text" class="form-control">
                <label for="amount">Amount</label>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success">Add transaction</button>
        </div>
    </form>
{% endblock %}
