{% extends "layout.html" %}

{% block title %}
    Accounts
{% endblock %}

{% block main %}
    <h2 class="text-success text-center">Accounts</h2>
    <div class="table-container border border-success">
        <div class="scrollable">
            <table class="table table-hover">
                <thead>
                    <tr class="table-success">
                        <th>Account</th>
                        <th>Balance</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="body-table-container scrollable">
            <table class="table table-hover">
                <tbody>
                    {% for acc in user_accounts_list %}
                        {% if acc['account_hide'] == 0 %}
                        <tr>
                            <td>
                                <a href="/account/{{ acc['account_name'] }}">
                                {{ acc["account_name"] }}
                                </a>
                            </td>
                            <td>{{ acc["balance"] }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="scrollable">
            <table class="table table-hover">
                <thead>
                    <tr class="table-success">
                        <th>Total Account Balance:</th>
                        <th>{{ total_accounts }}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <form action="/transfer" method="POST">
        <div class="form-row">
            <div class="form-group col">
                <input name="date" type="date" class="form-control" value="{{ today }}" min="2000-01-01">
                <label for="date">Date</label>
            </div>
            <div class="form-group col">
                <select name="origin_account" autofocus type="text" class="form-control">
                    <option value="" disabled selected>From</option>
                    {% for account in user_accounts_list %}
                        <option value="{{ account['account_name'] }}">
                            {{ account['account_name'] }}
                        </option>
                    {% endfor %}
                </select>
                <label for="origin_account">From</label>
            </div>
            <div class="form-group col">
                <select name="destination_account" autofocus type="text" class="form-control">
                    <option value="" disabled selected>To</option>
                    {% for account in user_accounts_list %}
                        <option value="{{ account['account_name'] }}">
                            {{ account['account_name'] }}
                        </option>
                    {% endfor %}
                </select>
                <label for="destination_account">To</label>
            </div>
            <div class="form-group col">
                <input autocomplete="off" placeholder="0,00 or 0.00" name="amount" type="text" class="form-control">
                <label for="amount">Amount</label>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success">Transfer cash</button>
        </div>
    </form>


{% endblock %}
