{% extends "layout.html" %}

{% block title %}
    {{ account_name }}
{% endblock %}

{% block main %}
    <h1>{{ account_name }}</h1>

    <form action="/edit_account" method="GET">
        <button type="submit">Edit account</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Payee</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>Ending balance</td>
                <td>{{ total }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for tran in trans_list_dict %}
            <tr>
                <td>
                    <a href="/transaction/{{ tran['transaction_id'] }}">
                        {{ tran["date"] }}
                    </a>
                </td>
                <td>{{ tran["payee_name"] }}</td>
                <td>{{ tran["category_name"] }}</td>
                <td>{{ tran["amount"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="/add_transaction" method="POST">
        <input name="date" type="date" value="{{ today }}" min="2000-01-01">
        <label for="date">date</label>

        <select name="transaction_type" type="number">
            <option value="-1" selected>Withdrawal</option>
            <option value="1">Deposit</option>
        </select>
        <label for="transaction_type">Transaction type</label>

        <select name="payee" autofocus type="text">
            <option value="" disabled selected>Payee</option>
            {% for dict in payee_list_dict %}
                <option value="{{ dict['payee_name'] }}">
                    {{ dict['payee_name'] }}
                </option>
            {% endfor %}
        </select>
        <label for="payee">Payee</label>

        <select name="category" type="text">
            <option value="" disabled selected>Category</option>
            {% for dict in category_list_dict %}
                <option value="{{ dict['category_name'] }}">
                    {{ dict['category_name'] }}
                </option>
            {% endfor %}
        </select>
        <label for="category">Category</label>
        
        <input autocomplete="off" placeholder="0,00 or 0.00" 
            name="amount" type="text">
        <label for="amount">Amount</label>

        <button type="submit">Add transaction</button>
    </form>
{% endblock %}
