{% extends "layout.html" %}

{% block title %}
    Add account
{% endblock %}

{% block main %}
    <h1>Add new account</h1>

    <form action="/add_account" method="POST">
        <input autocomplete="off" placeholder="Account name" name="account_name" type="text">
        <label for="account_name">Account name</label>
        <input autocomplete="off" placeholder="0" name="starting_balance" type="text" step="0.01">
        <label for="starting_balance">Starting balance</label>
        <button type="submit">Add account</button>
    </form>

{% endblock %}
