{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<form action="/" method="POST">
    <div class="form-row">
        <div class="form-group col">
            <select name="period" autofocus type="text" class="form-control">
                <option value="current_month" selected>Current month</option>
                <option value="previous_month">Previous month</option>
            </select>
            <label for="period">Period</label>
        </div>
        <div class="col">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </div>
</form>
{% if (category_list and balance_list) %}
    <canvas id="myChart"></canvas>
    <script>
        var category_list = {{ category_list|tojson }}
        var balance_list = {{ balance_list|tojson }}
        var ctx = document.getElementById('myChart');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: category_list,
                datasets: [{
                    data: balance_list,
                    backgroundColor: [
                        'rgba(255, 99, 132)',
                        'rgba(54, 162, 235)',
                        'rgba(255, 206, 86)',
                        'rgba(75, 192, 192)',
                        'rgba(153, 102, 255)',
                        'rgba(255, 159, 64)'
                    ],
                }]
            },
            options: {
            }
        });
    </script>
{% endif %}
{% endblock %}