<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no">      
        <link rel="stylesheet" type="text/css" 
        href="{{url_for('static', filename='style.css')}}">

        <!-- https://findicons.com/icon/download/67200/emblem_money/64/ico -->
        <link href="/static/favicon.ico" rel="icon">
        
        <title>YHB: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounts">Accounts</a>
                </li>
            </ul>            
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block main %}{% endblock %}
    </body>
</html>