{% extends "layout.html" %}

{% block title %}
    Log in
{% endblock %}

{% block navbar %}
    <a href="/login">
        <button class="btn btn-outline-success" type="button">
            Log in
        </button>
    </a>
    <a href="/register">
        <button class="btn btn-sm btn-outline-secondary" type="button">
            Register
        </button>
    </a>
{% endblock %}

{% block main %}
<form action="/login" method="POST">
  <div class="form-group">
    <label for="user_name">Login</label>
    <input type="text" class="form-control" name="user_name" autocomplete="off">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" autocomplete="off" >
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
</form>
{% endblock %}
