{% extends "layout.html" %}

{% block title %}
    {{ payee_name }}
{% endblock %}

{% block main %}
<form action="/payee_edit/{{ payee_id }}" method="GET">
    <div class="form-row mt-2 mb-2">
        <div class="col-3">
            <h3 class="text-success text-center align-baseline">Payee: <span class="font-weight-bolder">{{ payee_name }}</span></h3>
        </div>
        <div class="col-7">
            <h4 class="text-success text-left align-baseline">Description: {{ description }}</h4>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-success">Edit payee</button>
        </div>
    </div>
</form>
<div class="w-100 border border-success mb-4">
    <div class="scrollable">
        <table class="table table-hover table-sm table-bordered">
            <thead>
                <tr class="table-success">
                    <th>Date</th>
                    <th>Account</th>
                    <th>Category</th>
                    <th>Amount</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="body-table-container scrollable">
        <table class="table table-hover table-sm table-bordered">
            <tbody>
                {% for tran in trans_list_dict %}
                <tr>
                    <td>
                        <a href="/transaction/{{ tran['transaction_id'] }}">
                            {{ tran["date"] }}
                        </a>
                    </td>
                    <td>{{ tran["account_name"] }}</td>
                    <td>{{ tran["category_name"] }}</td>
                    <td>{{ tran["amount"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="scrollable">
        <table class="table table-hover table-sm">
            <thead>
                <tr class="table-success">
                    <th></th>
                    <th></th>
                    <th>Ending balance</th>
                    <th>{{ total }}</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}

