{% extends "layout.html" %}

{% block title %}
    Payees
{% endblock %}

{% block main %}
    <h3 class="text-success text-center">Payees</h3>

    <div class="table-container border border-success mt-2 mb-2">
        <div class="scrollable">
            <table class="table table-hover">
                <thead>
                    <tr class="table-success">
                        <th>Payee</th>
                        <th>Description</th>
                        <th>Last Paid</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="body-table-container scrollable">
            <table class="table table-hover">
                <tbody>
                    {% for payee in payee_list_dict %}
                    <tr>
                        <td>
                            <a href="/payee/{{ payee['payee_id'] }}">
                                {{ payee["payee_name"] }}
                            </a>
                        </td>
                        {% if payee["description"] %}
                        <td>{{ payee["description"] }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% if payee["last_paid"] %}
                        <td>{{ payee["last_paid"] }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <form action="/add_payee" method="POST">
        <div class="form-row">
            <div class="form-group col">
                <input name="payee_name" type="text" class="form-control" placeholder="Payee Name">
                <label for="payee_name">Payee Name</label>
            </div>
            <div class="form-group col">
                <input name="description" type="text" class="form-control" placeholder="Description">
                <label for="description">Description</label>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success">Add Payee</button>
            </div>
        </div>
    </form>
{% endblock %}
