{% extends "layout.html" %}

{% block title %}
    Edit transaction
{% endblock %}

{% block main %}
<h3 class="text-success text-center">Edit transaction</h3>

<form action="/transaction/{{ transaction_id }}" method="POST">
    <div class="form-row">
        <div class="form-group col">
            <input class="form-control" name="date" type="date" value="{{ date }}" min="2000-01-01">
            <label for="date">Date</label>
        </div>
        <div class="form-group col">
            <select class="form-control" name="account" type="text">
                {% for acc in account_list_dict %}
                    {% if acc['account_name'] == account_name %}
                        <option value="{{ acc['account_name'] }}" selected>
                            {{ acc['account_name'] }}
                        </option>
                    {% else %}
                        <option value="{{ acc['account_name'] }}">
                            {{ acc['account_name'] }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="account">Account</label>
        </div>
        <div class="form-group col">
            <select class="form-control" name="transaction_type" type="number">
                {% if tran_type == "Withdrawal" %}
                <option value="-1" selected>Withdrawal</option>
                <option value="1">Deposit</option>
                {% else %}
                <option value="-1">Withdrawal</option>
                <option value="1" selected>Deposit</option>
                {% endif %}
            </select>
            <label for="transaction_type">Transaction type</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <select class="form-control" name="payee" autofocus type="text">
                {% for dict in payee_list_dict %}
                    {% if dict['payee_name'] == payee_name %}
                        <option value="{{ dict['payee_name'] }}" selected>
                            {{ dict['payee_name'] }}
                        </option>
                    {% else %}
                        <option value="{{ dict['payee_name'] }}">
                            {{ dict['payee_name'] }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="payee">Payee</label>
        </div>
        <div class="form-group col">
            <select class="form-control" name="category" type="text">
                {% for dict in category_list_dict %}
                    {% if dict['category_name'] == category_name %}
                        <option value="{{ dict['category_name'] }}" selected>
                            {{ dict['category_name'] }}
                        </option>
                    {% else %}
                        <option value="{{ dict['category_name'] }}">
                            {{ dict['category_name'] }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="category">Category</label>
        </div>
        <div class="form-group col">
            <input class="form-control" autocomplete="off" placeholder="0,00 or 0.00" 
                name="amount" type="text" value="{{ amount }}">
            <label for="amount">Amount</label>
        </div>
        <div class="col">
            <button class="btn btn-success" type="submit">Save transaction</button>
        </div>
    </div>
</form>

<form action="/delete_transaction/{{ transaction_id }}">
    <div class="form-row">
        <button class="btn btn-danger" type="submit">Delete transaction</button>
    </div>
</form>
{% endblock %}
