{% extends "layout.html" %}

{% block title %}
    Edit transaction
{% endblock %}

{% block main %}
    <h1>Edit transaction</h1>
 
    <form action="/edit_transaction" method="POST">
        <input autocomplete="off" placeholder="Date" name="date" type="date" value="{{ tran_date }}">
        <label for="date">date</label>
        <input autocomplete="off" placeholder="Payee" name="payee" type="text" value="{{ tran_payee }}">
        <label for="payee">Payee</label>
        <input autocomplete="off" placeholder="Withdrawal or deposit" name="transaction_type" type="text" value="{{ tran_type }}">
        <label for="transaction_type">Transaction type</label>
        <input autocomplete="off" placeholder="0" name="amount" type="text" value="{{ tran_amount }}">
        <label for="amount">Amount</label>
        <input autocomplete="off" placeholder="Category" name="category" type="text" value="{{ tran_category }}">
        <label for="category">Category</label>
        <button type="submit">Edit transaction</button>
    </form>
    
{% endblock %}
