{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
<h3 class="text-success text-center">Login: <span class="font-weight-bolder">{{ user_name }}</span></h3>
<form action="/password_change" method="POST">
    <div class="form-row"></div>
        <div class="form-group col">
            <label for="password">Current Password</label>
            <input type="password" class="form-control" name="password" autocomplete="off">
        </div>
        <div class="form-group col">
            <label for="new_password">New Password</label>
            <input type="password" class="form-control" name="new_password" autocomplete="off">
            <small id="emailHelp" class="form-text text-muted">
                Your password must contain at least 1 uppercase and 1 lowercase letter, 
                1 number and 1 symbol.
            </small>
        </div>
        <div class="form-group col">
            <input type="password" class="form-control" name="re_password" autocomplete="off" >
            <label for="re_password">Re-type New Password</label>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-success">Save Changes</button>
        </div>
    </div>
  </form>
{% endblock %}