{% extends "layout.html" %}

{% block title %}
    Delete Your Account
{% endblock %}

{% block main %}
<h3 class="text-success text-center">Login: <span class="font-weight-bolder">{{ user_name }}</span></h3>
<form action="/user_delete" method="POST">
  <div class="form-row">
    <div class="form-group col">
      <input type="password" class="form-control" name="password" autocomplete="off" >
      <label for="password">Password</label>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-danger">Delete Your Account</button>
      <small class="form-text text-muted">This operation cannot be undone</small>
    </div>
  <div>
</form>
{% endblock %}